{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}" class="img-fluid">
    </div>
    <div class="col-md-8">
      <h1>{{ 7up 500ml }}</h1>
      <p><strong>Categoría:</strong> {{ Gaseosas }}</p>
      <p><strong>Precio:</strong> S/ {{ 1.70 }}</p>
      <p><strong>Disponibilidad en Stock:</strong> {{ 10 }} unidades</p>
 
    </div>
  </div>
</div>
{% endblock %}



